{{#partial "title" }}
    Wildlife - Tracker
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}
    <body style="background-image:url('https://i.pinimg.com/originals/ba/9d/62/ba9d62ca0d69f70aa76d6243b21ceffc.jpg'); background-size:cover; background-repeat:no-repeat;">
    <h1 style="text-align:center;" id="header">WILDLIFE - TRACKER</h1>
    <hr>

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <h1>Add Animals</h1>

                <form action="/show" method="post">

                    <div class="form-group">
                        <label>Ranger Name</label>
                        <input type="text" id="ranger" name="ranger" class="form-control" placeholder="Ranger Name..." required>
                    </div>

                    <div class="form-group">
                        <label>Animal Name</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Animal Name..." required>
                    </div>

                    <div class="form-group">
                        <label>Endangered</label>
                        <br>
                        <label>
                            <input type="checkbox" value="Yes" name="endangered" id="endangered">
                            <span for="yes">Yes</span>
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" value="No" name="endangered" id="endangered">
                            <span for="no">No</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Location</label><br>
                        <select name="location">
                            <option>Choose location...</option>
                            <div id="location">
                                <option value="Zone A">Zone A</option>
                                <option value="Zone B">Zone B</option>
                                <option value="Zone C">Zone C</option>
                            </div>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Animal's health</label><br>
                        <select name="health">
                            <option>Condition...</option>
                            <div id="age">
                                <option value="Ill">Ill</option>
                                <option value="Okay">Okay</option>
                                <option value="Healthy">Healthy</option>
                            </div>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Age</label><br>
                        <select name="age">
                            <option>Estimate...</option>
                            <div id="age">
                                <option value="Newborn">Newborn</option>
                                <option value="Young">Young</option>
                                <option value="Adult">Adult</option>
                            </div>
                        </select>
                    </div>

                    <button class="btn btn-success" type="submit">Add Animal
                        <span class="glyphicon glyphicon-plus"></span></button>

                </form>

            </div>

            <div class="col-md-6">

                <h1>Show All Animals and Sightings</h1>

                <div class="">

                    <table class="table table-bordered table-dark">

                        <thead>

                        <tr>
                            <th>Range Name</th>
                            <th>Animal Name</th>
                            <th>Endangered</th>
                            <th>Location</th>
                            <th>Health</th>
                            <th>Age</th>
                            <th>Date Spotted</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if animals}}
                            {{#each animals}}


                        {{#each sightings}}

                                {{#each animals}}

                            <tr>
                                <td>{{ranger}}</td>
                                <td>{{name}}</td>
                                <td>{{endangered}}</td>
                                <td>{{location}}</td>
                                <td>{{health}}</td>
                                <td>{{age}}</td>
                                <td>{{date}}</td>
                            </tr>
                                {{/each}}
                        {{/each}}

                         {{/each}}
                        {{/if}}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

    </body>

    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}

